*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: #000000;
}
.container
{
    width: 80%;
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.card
{
    width: 350px;
    height: 400px;
    margin: 1.5rem;
    border: 1px solid rgb(98, 139, 165);
    border-radius: 8px;
    background-color: #1b1818a6;
}
.card:hover
{
    transform: scale(1.05);
}
.card_img
{
    width: 330px;
    height: 200px;
    background-color: #ba252921;
    border-radius: 25px 60px 25px 60px;
    margin: 10px auto;
    text-align: center;
}
.card_img > img
{
   height: 100%;
   width: 90%;
   border-radius: 25px 60px 25px 60px;
   box-shadow: -15px 2px 3px 3px #8e3a3c38;
}
.card_head
{
    width: 330px;
    height: 30px;
    margin: 5px auto;
    text-shadow: 3px 1px 3px #fb0744;
    text-align: center;
}
.card_body
{
    max-width: 330px;
    height: 100px;
    margin: 5px auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
}
.card_body a
{
    color: inherit;
    text-decoration: none;
    margin: 5px;
    text-transform: uppercase;
    letter-spacing: 3px;
    border: 1px solid rgb(36, 36, 138);
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}
.card_body a:active
{
    transform: scale(0.98);
}
.card_body span
{
    width: 150px;
    /* height: 35px; */
    margin: 5px;
}
.card_footer
{
    width: 330px;
    height: 30px;
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card_footer span
{
    margin: 0 10px;

}
i
{
    font-size: 0.8rem;
    color: rgb(195 198 18);
}